<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844987318785-35jgcpvlkcq0h6u2uive6c45m28ogmbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844987318785-35jgcpvlkcq0h6u2uive6c45m28ogmbv</string>
	<key>API_KEY</key>
	<string>AIzaSyCQrfA993vqp2gbRXipI1RNfelmAt6PWGA</string>
	<key>GCM_SENDER_ID</key>
	<string>844987318785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codingQuiz</string>
	<key>PROJECT_ID</key>
	<string>coding-quiz-2b817</string>
	<key>STORAGE_BUCKET</key>
	<string>coding-quiz-2b817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844987318785:ios:d9689675463b77a19df600</string>
	<key>DATABASE_URL</key>
	<string>https://coding-quiz-2b817-default-rtdb.firebaseio.com</string>
</dict>
</plist>